{% if model.template.title is not empty %}
    <div class="row">
        <div class="col-xs-12">
            <h4 class="page-header page-header-small">
                <span contenteditable="true">{{ model.template.title }}</span>
            </h4>
        </div>
    </div>
{% endif %}

<div class="row invoice-address">
    <div class="col-xs-6">
        <address>
            <p contenteditable="true">
                {{ model.customer.company|default(model.customer.name) }}
                <br>
                {{ model.customer.address|nl2br }}
            </p>
        </address>
    </div>

    <div class="col-xs-6">
        <table class="pull-right invoice-meta">
            {% if model.template.address is not empty %}
                <tr>
                    <td colspan="2">
                        {{ model.template.company }}
                        {{ model.template.address|nl2br }}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <th>{{ 'label.date'|trans }}:</th>
                <td>{{ model.invoiceDate|date(kimai_context.date_1) }}</td>
            </tr>
            <tr>
                <th>{{ 'invoice.service_date'|trans }}:</th>
                <td><span contenteditable="true">{{ model.invoiceDate|date('F Y') }}</td>
            </tr>
            <tr>
                <th>{{ 'invoice.number'|trans }}:</th>
                <td><span contenteditable="true">{{ model.numberGenerator.invoiceNumber }}</td>
            </tr>
            <tr>
                <th>{{ 'invoice.due_days'|trans }}:</th>
                <td>{{ model.dueDate|date(kimai_context.date_1) }}</td>
            </tr>
            {% if model.customer.number is not empty %}
                <tr>
                    <th>{{ 'label.customer_number'|trans }}:</th>
                    <td>{{ model.customer.number }}</td>
                </tr>
            {% endif %}
            {% if model.query.project is not empty and model.query.project.orderNumber is not empty %}
                <tr>
                    <th>{{ 'label.order_number'|trans }}:</th>
                    <td>{{ model.query.project.orderNumber }}</td>
                </tr>
            {% endif %}
        </table>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h2>{{ 'invoice_print'|trans }}</h2>
        <p contenteditable="true">{# a place to add inline text before printing #}</p>
        <table class="table invoice-records">
            <thead>
            <tr>
                <th>{{ 'label.activity'|trans }}</th>
                <th>{{ 'invoice.amount'|trans }}</th>
                <th style="text-align: right">{{ 'invoice.total_rate'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for entry in model.calculator.entries %}
                <tr>
                    <td>{{ entry.activity.name }} / {{ entry.activity.project.name }}</td>
                    <td>{{ entry.duration|duration }}</td>
                    <td style="text-align: right">{{ entry.rate|money(model.calculator.currency) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-xs-6"></div>

    <div class="col-xs-6">
        <div class="table">
            <table class="table no-border invoice-sum">
                <tbody>
                <tr>
                    <th>{{ 'invoice.subtotal'|trans }}</th>
                    <td>{{ model.calculator.subtotal|money(model.calculator.currency) }}</td>
                </tr>
                <tr>
                    <th>{{ 'invoice.tax'|trans }} ({{ model.calculator.vat }}%)</th>
                    <td>{{ model.calculator.tax|money(model.calculator.currency) }}</td>
                </tr>
                <tr>
                    <th>{{ 'invoice.total'|trans }}</th>
                    <td>{{ model.calculator.total|money(model.calculator.currency) }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% if model.template.paymentTerms is not empty %}
<div class="row">
    <div class="col-xs-12">
            <p class="lead">{{ 'label.payment_terms'|trans }}</p>
            <p contenteditable="true">
                {{ model.template.paymentTerms|trim|nl2br }}
            </p>
    </div>
</div>
{% endif %}

<div class="row no-print">
    <div class="col-xs-12">
        <button type="button" class="btn btn-success pull-right" onclick="window.print();return false;" style="margin-right: 5px;">
            <i class="fa fa-print"></i> {{ 'button.print'|trans }}
        </button>
    </div>
</div>
